<div class="container">
  <h2>Reusable Form Component</h2>
  <form [formGroup]="form" (ngSubmit)="Submit()">
    <app-input-field [control]="form.controls['name']" [type]="'text'" [placeholder]="'Enter your name'"
      [label]="'Name'">
    </app-input-field><br>
    <app-input-field [control]="form.controls['email']" [type]="'email'" [placeholder]="'Enter your email'"
      [label]="'Email'">
    </app-input-field><br>
    <app-input-field [control]="form.controls['password']" [type]="'password'" [placeholder]="'Enter your password'"
      [label]="'Password'">
    </app-input-field><br>
    <app-input-field [control]="form.controls['age']" [type]="'number'" [placeholder]="'Enter your Age'"
      [label]="'Age'">
    </app-input-field>
    <br>
    <br>
    <app-radio-button [control]="form.controls['radio']" [value]="'option1'" [label]="'Option 1'"></app-radio-button>
    <app-radio-button [control]="form.controls['radio']" [value]="'option2'" [label]="'Option 2'"></app-radio-button>
    <br>
    <app-select-option [control]="form.controls['select']" [options]="options" [label]="'Select an option'">
    </app-select-option>
    <br>
    <br>

    <app-checkbox [control]="form.controls['checkbox']" [label]="'Agree to terms and conditions'"></app-checkbox>
    <br>

    <button type="submit">Submit</button>
    <!-- <app-button [label]="'Submit'" (clickEvent)="Submit()"></app-button> -->
  </form>
</div>

{{form.value|json}}